# Data Analytics III
For naïve bayes https://www.youtube.com/watch?v=XzSlEA4ck2I
For confusion matrix :https://www.youtube.com/watch?v=_CGTbkHwUHQ
1. Implement Simple Naïve Bayes classification algorithm using Python/R on iris.csv dataset.
2. Compute Confusion matrix to find TP, FP, TN, FN, Accuracy, Error rate, Precision, Recall on the given dataset.

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix,accuracy_score,precision_score,recall_score,classification_report

In [15]:
dataset = pd.read_csv("IRIS.csv")
dataset.head(5)

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [16]:
dataset.isnull().sum()
# dataset.shape

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

# Feature extraction , splitting and train test

In [19]:
# X = dataset[['sepal_length','sepal_width','petal_length','petal_width']]
X = dataset.drop(columns = {'species'})
Y = dataset['species']

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

print("X_train.shape : ",X_train.shape)
print("Y_train.shape : ",Y_train.shape)
print("X_test.shape : ",X_test.shape)
print("Y_test.shape : ",Y_test.shape)

X_train.shape :  (120, 4)
Y_train.shape :  (120,)
X_test.shape :  (30, 4)
Y_test.shape :  (30,)

In [21]:
model = GaussianNB()
model.fit(X_train,Y_train)

y_pred = model.predict(X_test)

# Evaluation by metrics

In [32]:
cm = confusion_matrix(Y_test,y_pred)
print("Confusion Matrix:\n", cm)

classes = model.classes_
# classes = [0, 1, 2]
for i in range(len(classes)):
    TP = cm[i, i]
    FP = cm[:, i].sum() - TP
    FN = cm[i, :].sum() - TP
    TN = cm.sum() - (TP + FP + FN)
    print(f"\nClass {classes[i]}:")
    print(f"TP: {TP}, FP: {FP}, FN: {FN}, TN: {TN}")

Confusion Matrix:
 [[10  0  0]
 [ 0  9  0]
 [ 0  0 11]]

Class Iris-setosa:
TP: 10, FP: 0, FN: 0, TN: 20

Class Iris-versicolor:
TP: 9, FP: 0, FN: 0, TN: 21

Class Iris-virginica:
TP: 11, FP: 0, FN: 0, TN: 19

In [33]:
#Precision (TP / (TP + FP)) per class

# Recall (TP / (TP + FN)) per class

print("\nClassification Report:\n")

print(classification_report(Y_test, y_pred))

Classification Report:

                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00        10
Iris-versicolor       1.00      1.00      1.00         9
 Iris-virginica       1.00      1.00      1.00        11

       accuracy                           1.00        30
      macro avg       1.00      1.00      1.00        30
   weighted avg       1.00      1.00      1.00        30

In [36]:
print("Accuracy:", accuracy_score(Y_test, y_pred))
print("Error Rate:", 1 - accuracy_score(Y_test, y_pred))
print("Precision (macro):", precision_score(Y_test, y_pred, average='macro'))
print("Recall (macro):", recall_score(Y_test, y_pred, average='macro'))

Accuracy: 1.0
Error Rate: 0.0
Precision (macro): 1.0
Recall (macro): 1.0